# The read-only auth token below was created on Feb 6, 2019 via the
# npmjs.com web interface with the purpose of allowing this repo to
# download and install the private tm-core npm package
//registry.npmjs.org/:_authToken=0e94c075-a241-4d8a-b0f0-4ce08f84aff8
